/*CONTAINER*/
.container {
    background-color: #000;
    height: 100vh;
    overflow: hidden;
    
}
/*CONTENT*/
.content {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: gold;
    perspective: 300px;
}
.text-container {
    transform-origin: 50% 40%;
    animation: text-animate 30s infinite ease-in;
    margin: 0 auto;
    width: 500px;
}
.title .subtitle {
    margin-bottom: 30px;
    text-align: center;
}
.text {
    line-height: 30px;
}

@keyframes text-animate {
    0% {
        transform: rotateX(40deg) translateY(600px);
    }
    100% {
        transform: rotateX(40deg) translateY(-300px);
    }
}